<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Score Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfM7MY1xJsQUEeVC6nfV9sDAAsnuTG85ePfNKelsOO_sBc3XQ/viewform?usp=dialog"
       target="_blank" class="feed-btn-top" title="Feed Your Data">
        📝 Feed Your Data
    </a>
    <!-- GitHub button -->
    <a href="https://github.com/SevrusCorporations/student_score_predictor" 
       target="_blank" class="github-link" title="View on GitHub">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
             alt="GitHub" class="github-logo">
    </a>

    <div class="container">
        <h2>📚 Student Score Predictor</h2>
    
    <p class="description">
        This project predicts a student's exam score based on their average study hours per day.  
        It uses a machine learning model (Linear Regression) trained on real-world data.  
        The model retrains automatically over time to stay up-to-date with the latest inputs.
    </p>
        <h2>Predict your Score</h2>

        <!-- Prediction Form -->
        <form method="POST" class="form">
            <label for="hours">Enter study hours per day:</label><br>
            <input type="number" step="0.1" name="hours" id="hours" min="0" required>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <div class="result">
                🎯 Predicted Score: <strong>{{ prediction|round(2) }}%</strong>
            </div>
        {% endif %}

        <hr>
        <h4 class="footer-msg">Made by Sahil Gour (<a class="git-profile" href="https://github.com/SevrusCorporations/" target="_blank">@SirSevrus</a>)</h4>
    </div>
</body>
</html>
